.label-my-brain {
  position: absolute;
  padding: 5px 10px;
  background-color: rgba(100, 100, 255, 0.8); /* Semi-transparent purple background */
  color: white;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  text-align: center;
  transform: translate(-50%, -50%); /* Center the label on the position */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-block; /* 라벨을 가로로 정렬 */
  overflow: hidden;
  max-width: 150px;
}

.label span {
  cursor: pointer;
}

.label-edit-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 0.9rem;
  outline: none;
}

.brain-image-wrap-my-brain {
  position: absolute;
  min-width: 400px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  margin: 0;
}

#title_myBrain{
  position: relative;
  left:20%;
}